<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Marios Yiannakou">
    <meta name="description" content="Personal marketplace for selling my stuff.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/assets/logo/mariostore_logo.ico"/>
    <title>MarioStoreGB</title>
</head>

<body class="bg-color">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MarioStoreGB <img id="logoImg" src="/static/assets/logo/mariostore_logo.png" alt="logo"></a>
    <a href="https://github.com/Mariosyian/marketplace" target="_blank" class="nav-item"><i class="bi bi-github"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item cart-btn">
          <a href="/cart" class="btn btn-primary mg-top-05"><i class="bi bi-cart"></i>: <%= cart.length %></a>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0" method="GET" action="search/">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
  <% if (errors.length > 0) { %>
    <div id="errors" class="alert alert-danger alert-dismissible mg-top-05" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <% errors.forEach((err) => { %>
          <li><%= err %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>
